<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Back To Home Page</a>
    <h1>Full Staff List</h1>
    <a href="/staff/new">Add A New Staff Member</a>
    <ul>
        <%for (let i=0; i < staff.length; i++){%>
            <li><a href='/staff/<%=staff[i]._id%>'><%=staff[i].firstName%> <%=staff[i].lastName%></a>
            </li> <br/>
        <%}%>
    </ul>
</body>
</html>