<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Event-Staffr</title>
</head>
<body>
    <nav>
        <img src="https://bradleymather.com/wp-content/uploads/2022/06/Event_Staffr-removebg-preview.png" class="logo">
        <div>
        <a href="/" class="button">Home</a>
        <a href="/staff" class="button">Back To Full Staff List</a>
    </div>
    </nav>
    <main>
    <h1 class="titleBanner">Add A New Staff Member</h1>
    <div class="edit">
    <form action="/staff" method="POST">
        <input type="text" name="firstName" placeholder="First Name" required> <br/>
        <input type="text" name="lastName" placeholder="Last Name" required> <br/>
        <input type="text" name="partner" placeholder="Partner's First and Last Name">
       <p>Administrative Skills:</p>
       <div>
       <label for="scoring">Scoring</label>
        <input class="checkbox" type="checkbox" id="scoring" name="scoring">
        <label for="emcee">Emcee</label>
        <input class="checkbox" type="checkbox" id="emcee" name="emcee">
        <label for="floorMom">Floor Mom</label>
        <input class="checkbox" type="checkbox" id="floorMom" name="floor_Mom">
        <label for="contestCoordinator">Contest Coordinator</label>
        <input class="checkbox" type="checkbox" id="contestCoordinator" name="contest_Coordinator">
        <label for="hospitality">Hospitality</label>
        <input class="checkbox" type="checkbox" id="hospitality" name="hospitality">
        <label for="scrutineering">Scrutineering</label>
        <input class="checkbox" type="checkbox" id="scrutineering" name="scrutineering">
        <label for="regDesk">Registration Desk</label>
        <input class="checkbox" type="checkbox" id="regDesk" name="registration_Desk"><br/>
    </div>
        <p>Arrival Time</p>
        <input type="datetime-local" name="arrival" required> <br/>
        <p>Departure Time</p>
        <input type="datetime-local" name="departure" required> <br/>
        <p>Is this staff member dancing with students?
            <label for="isDancingWithStudents">Yes</label>
            <input type="radio" id="isDancingWithStudents" name="isDancingWithStudents" value="Yes">
            <label for="isNotDancingWithStudents">No</label>
            <input type="radio" id="isNotDancingWithStudents" name="isDancingWithStudents" value="No">
        </p>
        <div id="proam">
            <label for="Newcomer">Newcomer</label>
            <input class="checkbox" type="checkbox" id="Newcomer" name="Newcomer">
            <label for="Novice">Novice</label>
            <input class="checkbox" type="checkbox" id="Novice" name="Novice">
            <label for="Intermediate">Intermediate</label>
            <input class="checkbox" type="checkbox" id="Intermediate" name="Intermediate">
            <label for="Advanced">Advanced</label>
            <input class="checkbox" type="checkbox" id="Advanced" name="Advanced">
        </div>
        <p>Is this staff member competing professionally?
            <label for="isCompeting">Yes</label>
            <input type="radio" name="isCompeting" id="isCompeting" value="Yes" required>
            <label for="isNotCompeting">No</label>
            <input type="radio" name="isCompeting" id="isNotCompeting" value="No" required>
        </p>
        <div id="pro">
            <label for="Division_II">Division II</label>
            <input class="checkbox" type="checkbox" id="Division_II" name="Division_II">
            <label for="Division_I">Division I</label>
            <input class="checkbox" type="checkbox" id="Division_I" name="Division_I">
            <label for="Masters">Masters</label>
            <input class="checkbox" type="checkbox" id="Masters" name="Masters">
            <label for="Crown">Crown</label>
            <input class="checkbox" type="checkbox" id="Crown" name="Crown">
        </div>
        <p>Qualified To Judge:</p>
        <div>
        <label for="couplesApprentice">Couples Apprentice</label>
        <input class="checkbox" type="checkbox" id="couplesApprentice" name="couplesApprentice">
        <label for="lineApprentice">Line Apprentice</label>
        <input class="checkbox" type="checkbox" id="lineApprentice" name="lineApprentice">
        <label for="couplesFundamental">Couples Fundamental</label>
        <input class="checkbox" type="checkbox" id="couplesFundamental" name="couplesFundamental">
        <label for="lineFundamental">Line Fundamental</label>
        <input class="checkbox" type="checkbox" id="lineFundamental" name="lineFundamental">
        <label for="couplesJourneyman">Couples Journeyman</label>
        <input class="checkbox" type="checkbox" id="couplesJourneyman" name="couplesJourneyman">
        <label for="lineJourneyman">Line Journeyman</label>
        <input class="checkbox" type="checkbox" id="lineJourneyman" name="lineJourneyman">
        <label for="couplesMaster">Couples Master</label>
        <input class="checkbox" type="checkbox" id="couplesMaster" name="couplesMaster">
        <label for="lineMaster">Line Master</label>
        <input class="checkbox" type="checkbox" id="lineMaster" name="lineMaster"><br/>
        </div>
        <div class="editBanner">
            <input type="submit" value="Add Staff Member" class="button">
        </div>
    </form>
</div>
</main>
</body>
</html>